/workspaces/Fundamentos-de-RNAs/2024/Tcc-felipe/Saving-Model/Teste01/models/*
/workspaces/Fundamentos-de-RNAs/2024/Tcc-felipe/Saving-Model/content/*
/workspaces/Fundamentos-de-RNAs/2024/Tcc-felipe/No-Saving/content/*